.content blockquote blockquote {
  font-size: 0.95em;
}

.content table {
  table-layout: auto;
  font-family: monospace;
}

.post .signature {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #cfcfcf;
}

.signature img {
  max-width: 20%;
}
