/*
 *
 *         ∧ ∧
 *   　  （ ﾟДﾟ）
 *
 *
 *　　  ∧   ∧
 *     (,,ﾟДﾟ)
 * */


.v-Atom:not(.post--embed) {
  margin-bottom: 6em;
  border-radius: 40px;
  border-color: #ececec;
  border-bottom-width: 10px;
  transition-property: border-bottom-color;
  transition-duration: 200ms;

  &:hover {
    border-bottom-color: #cef;
  }
}
.v-Atom.isNew {
  border-color: #ececec;
}
.thread .v-Atom:not(.post--embed) {
  padding-top: 0;
}

.v-Atom:not(.post--embed) .data {
  position: absolute;
  bottom: -3.5em;
  left: 0;

  &:before {
    position: relative;
    content: '    ∧ ∧\A（ ﾟДﾟ）';
    white-space: pre;
  }

  @media (min-width: 60em) {
    left: -4em;

    &:before {
      content: '    ∧ ∧   / \A（ ﾟДﾟ）';
    }
  }
}

.action:before,
.action:after {
  opacity: 0;
  color: #cef;
  transition-property: opacity;
  transition-duration: 200ms;
}
