/*
 *
 *         ∧ ∧
 *   　  （ ﾟДﾟ）
 *
 *
 *　　  ∧   ∧
 *     (,,ﾟДﾟ)
 * */


.post:not(.post--embed) {
  margin-bottom: 6em;
  padding-top: 0;
  border-radius: 40px;
  border-bottom-width: 10px;
}

.post:not(.post--embed) .data {
  position: absolute;
  bottom: -3.5em;
  left: 0;

  &:before {
    position: relative;
    content: '    ∧ ∧\A（ ﾟДﾟ）';
    white-space: pre;
  }

  @media (min-width: 60em) {
    left: -4em;

    &:before {
      content: '    ∧ ∧   / \A（ ﾟДﾟ）';
    }
  }
}
