*:focus {
  outline-color: hsla(200, 100%, 50%, 0.75);
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Roman.otf') format('opentype');
}

body {
  font-family: 'Avenir', sans-serif;
}

.accent {
  color: #00bbff;
}

.action:before {
  content: '';
}

.action:after {
  content: '';
}

.focusAction:hover {
  border-bottom: 2px solid #00bbff;
}

.input--secondary {
  color: #00bbff;
}

.input--toggle {
  border-color: #00bbff;
}

.input--toggle.isActive {
  background: #00bbff;
}

.post.isNew {
  border-color: #00bbff;
}
.thread .post {
  transition-property: padding-top, padding-bottom;

  &:hover {
    padding: 1em 1em 5em;
  }
}

.contentFrame {
  margin: 0;
}

.post .actionContainer {
  padding: 1em 1em 2em;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    margin: 0 1em;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
  }
}
.post:hover .actionContainer {
  padding: 1em 1em 0;
  bottom: 2em;
  top: auto;
  right: auto;
}
.post:hover .actionContainer:after {
  border-color: #ececec;
}

.post .action {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1em;
  cursor: pointer;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 200ms;
}
.post:hover .action {
  opacity: 1;
}

.connectionBar-name {
  background-color: #00bbff;
}

.controlBar-control:hover,
.controlBar-control:focus {
  border-bottom-color: #00bbff;
}

.footerBar a:hover,
.footerBar a:focus {
  border-top-color: #00bbff;
}

.content a,
.content blockquote {
  border-color: #00bbff;
}
