<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Forum
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/content.css" />
    <link rel="stylesheet" href="/stylesheets/content-override.css" />
    <link rel="stylesheet" href="/stylesheets/embed.css" />
    <link rel="icon" href="/favicon.png?12-22-2016" />
  </head>

  <body class="embedBody">
    <div id="app">
    </div>
    <script>
      window.forum = {};
      forum.constants = <%- clientConstants %>;
      forum.constants.user = <%- JSON.stringify(user) %>;
      window.post = <%- JSON.stringify(post) %>
      window.postDepth = window.location.hash.split('depth=')[1];
    </script>
    <script src="//platform.twitter.com/widgets.js"></script>
    <script src="//platform.instagram.com/en_US/embeds.js"></script>
    <script src="/lib.js"></script>
    <script src="/embedapp.js"></script>
  </body>
</html>
