<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Forum
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/content.css" />
    <link rel="stylesheet" href="/stylesheets/content-override.css" />
    <link rel="stylesheet" href="/stylesheets/embed.css" />
    <link rel="apple-touch-icon" href="/homeicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/homeicon.png" />
    <link rel="icon" sizes="192x192" href="/homeicon.png" />
    <link rel="icon" href="/favicon.png?12-22-2016" />
    <% if (user && user.id !== 0) { %>
      <%- user.custom_code %>
    <% } %>
  </head>

  <body class="body is-loading">
    <div id="app" class="app">
      You must enable JavaScript to use this app.
      What are you thinking having JS disabled?
    </div>

    <div class="loader">
      <span class="loader-text">
        Loading...
      </span>
    </div>

    <script src="//platform.twitter.com/widgets.js"></script>
    <script src="//platform.instagram.com/en_US/embeds.js"></script>
    <script>
      window.forum = {};
      forum.constants = <%- clientConstants %>;
      forum.constants.user = <%- JSON.stringify(user) %>;

      window.__INITIAL_STATE__ = <%- initialState %>;
      window.postData = <%- postData %>;
    </script>
    <% if (env !== 'production') { %>
      <script src="/lib.js"></script>
    <% } %>
    <script src="/bundle.js"></script>
  </body>
</html>
