script(src="/templates/post/post.js")
script(src="/javascripts/emoji.js")
script.
  emoji.colons_mode = true;

.new
  form
    .input#reply
      input(class="input-input input-text" type="text" placeholder="Type here...")
      .toggle
        | {...}
    .input.hidden.textarea
      textarea(class="input-input input-textarea" placeholder="Type here...")
      .toggle
        | { / }
      button(class="input-submit" type="submit")
        | Submit

  script.
    forum.title = document.title;
    forum.replyCount = 0;

    socket.on('destroy', function(response){
      $('[data-id=' + response.id + ']').remove();
    });

    socket.on('edit', function(response){
      var locals = {};
      locals.post = response;
      locals.moment = moment;
      locals.marked = marked;
      locals.user = forum.constants.user;

      $('[data-id=' + response.id + ']').replaceWith(anonymous(locals));
    });

    socket.on('post', function(response){
      var locals = {};
      locals.post = response;
      locals.moment = moment;
      locals.marked = marked;
      locals.user = forum.constants.user;

      if (response.parent !== forum.constants.parent) {
        return false;
      }

      if (forum.focus === false) {
        forum.replyCount++;
        document.title = '(' + forum.replyCount + ') ' + forum.title;
      }

      $(anonymous(locals)).appendTo('.main .posts')[0].scrollIntoView();

      $('.post .distance').text(function(){
        var postTime = moment($(this).data('timestamp'));
        if (postTime.isSame(moment(), 'day') && postTime.fromNow() !== $(this).text()) {
          return postTime.fromNow();
        }
      });
    });

    $('body').on('click', '.post .action.destroy', function(event){
      event.preventDefault();

      socket.emit('destroy', {
        id: $(this).closest('.post').data('id'),
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });
    });

    $('body').on('click', '.post .action.quote', function(event){
      event.preventDefault();
      var quoted = $.ajax({
        url:'/post/' + $(this).closest('.post').data('id'),
        dataType: "json",
        success: function(data){
          var newBody;
          $('#reply.input').addClass('hidden');
          $('.input.textarea').removeClass('hidden');

          newBody = data.body.replace(/^/, "> ").replace(/\n/g, "\n> ");
          $('.input.textarea textarea').val('> ' +
            data.user.name + ' wrote: ' + '\n\n' + newBody + '\n\n'
          );
          $('.input.textarea textarea').trigger('focus');
        }
      });
    });

    $('body').on('submit', '.post form.edit', function(event){
      var $input = $(this).find('textarea');

      socket.emit('edit', {
        body: emoji.replace_unified($input.val()),
        id: $(this).closest('.post').data('id'),
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });

      event.preventDefault();
    });

    $('.new form').on('submit', function(event){
      var $input = $(this).find('.input').not('.hidden');

      if ($input.find('.input-input').val() === "") return false;

      event.preventDefault();
      socket.emit('post', {
        body: emoji.replace_unified($input.find('.input-input').val()),
        created_at: new Date(),
        parent: forum.constants.parent,
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });
      $(this).find('.input-input').val('');
      $(this).find('> .input').not('.hidden').find('.input-input').trigger('focus');
    });

    $('textarea, input').on('keyup', function(event){
      $(this).closest('.input').siblings('.input').find('.input-input').val($(this).val());
    });

    $('.input .toggle').on('click', function(){
      $(this).closest('.input').toggleClass('hidden');
      $(this).closest('.input').siblings('.input').toggleClass('hidden');
    });

    $(window).focus(function(){
      forum.focus = true;
      forum.replyCount = 0;
      document.title = forum.title;
    });

    $(window).blur(function(){
      forum.focus = false;
    });
