script(src="/templates/post/post.js")

.new
  form
    input(type="text")
  script.
    socket.on('post', function(response){
      var locals = {};
      locals.post = response;
      locals.post.created_at = moment(locals.post.created_at).fromNow();
      locals.moment = moment;
      $(anonymous(locals)).appendTo('.main .posts')[0].scrollIntoView();
    });

    $('.new form').submit(function(event){
      var $input = $(this).find('input');

      if ($input.val() === "") return false;

      event.preventDefault();
      socket.emit('post', {
        body: $input.val(),
        created_at: new Date(),
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });
      $input.val('');
    });
