script(src="/templates/post/post.js")
script(src="/javascripts/emoji.js")
script.
  emoji.colons_mode = true;

.new
  form
    .input
      input(class="input-input input-text" type="text" placeholder="Type here...")
      .toggle
        | {...}
    .input.hidden.textarea
      textarea(class="input-input input-textarea" placeholder="Type here...")
      .toggle
        | { / }
      button(class="input-submit" type="submit")
        | Submit

  script.
    socket.on('destroy', function(response){
      $('[data-id=' + response.id + ']').remove();
    });

    socket.on('edit', function(response){
      var locals = {};
      locals.post = response;
      locals.moment = moment;
      locals.marked = marked;
      locals.user = forum.constants.user;

      $('[data-id=' + response.id + ']').replaceWith(anonymous(locals));
    });

    socket.on('post', function(response){
      var locals = {};
      locals.post = response;
      locals.moment = moment;
      locals.marked = marked;
      locals.user = forum.constants.user;

      $(anonymous(locals)).appendTo('.main .posts')[0].scrollIntoView();

      $('.post .distance').text(function(){
        var postTime = moment($(this).data('timestamp'));
        if (postTime.isSame(moment(), 'day') && postTime.fromNow() !== $(this).text()) {
          return postTime.fromNow();
        }
      });
    });

    $('body').on('click', '.post .action.destroy', function(event){
      event.preventDefault();

      socket.emit('destroy', {
        id: $(this).closest('.post').data('id'),
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });
    });

    $('body').on('submit', '.post form.edit', function(event){
      var $input = $(this).find('textarea');

      socket.emit('edit', {
        body: emoji.replace_unified($input.val()),
        id: $(this).closest('.post').data('id'),
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });

      event.preventDefault();
    });

    $('.new form').on('submit', function(event){
      var $input = $(this).find('.input').not('.hidden');

      if ($input.find('.input-input').val() === "") return false;

      event.preventDefault();
      socket.emit('post', {
        body: emoji.replace_unified($input.find('.input-input').val()),
        created_at: new Date(),
        parent: forum.constants.parent,
        user: {
          id: forum.constants.user.id,
          name: forum.constants.user.name
        }
      });
      $(this).find('.input-input').val('');
    });

    $('textarea, input').on('keyup', function(event){
      $(this).closest('.input').siblings('.input').find('.input-input').val($(this).val());
    });

    $('.input .toggle').on('click', function(){
      $(this).closest('.input').toggleClass('hidden');
      $(this).closest('.input').siblings('.input').toggleClass('hidden');
    });
