script(src="/templates/post/post.js")

.new
  form
    input(type="text")
  script.
    socket.on('post', function(response){
      var locals = {};
      locals.post = response;
      locals.post.date = moment(locals.post.date).fromNow();
      locals.post.user = 'Jim';
      $('#main').append(anonymous(locals));
    });

    $('.new form').submit(function(event){
      var $input = $(this).find('input');

      if ($input.val() === "") return false;

      event.preventDefault();
      socket.emit('post', {body: $input.val(), date: new Date()});
      $input.val('');
    });
