.post
  .meta.clearfix
    .username.datum=post.user.name
    .time.datum
      i.fa.fa-clock-o
      .distance(data-timestamp=post.created_at)= moment(post.created_at).fromNow()
  .content!=marked(post.body || '')
  .actions
    a.action.fa.fa-reply.fa-flip-vertical.fa-lg(href="#reply")
