extends ../application

block head
  link(rel="stylesheet" href="/stylesheets/post.css")

block main
  each post in posts
    section.post
      .meta.clearfix
        .username.datum=post.user
        .time.datum
          i.fa.fa-clock-o
          = post.date
      .content!=post.body
