extends ../application

block head
  link(rel="stylesheet" href="/stylesheets/post.css")

block main
  section.post
    .meta.clearfix
      .username.piece User's Name
      .time-rel.piece 3 hours ago

