.topic(data-id=post.id)
  .meta.clearfix
    a(href='/topic/' + post.id)
      span.title
        =post.title
        span.unread
          i.fa.fa-file-o
      span.extra
        span.replies
          span.count= post.replycount
          |  Replies.
        span.username.datum=post.lastreply && post.lastreply.user.name
        span.time.datum
          i.fa.fa-clock-o
          span.distance(data-timestamp=post.lastreply.created_at)= moment(post.lastreply.created_at).fromNow()
  .actions
    a.action.reply(href='/topic/' + post.id + '#reply')
      .context
        |reply
      .fa.fa-reply.fa-flip-vertical.fa-md
    .advanced
