<div class="atom" data-id=<%= post.id %>>
  <div class="atom-meta clearfix">
    <a class="atom-meta-main atom-meta-title" href=<%="/topic/" + post.id%>>
      <span class="atom-meta-main-inner">
        <%= post.title %>
        <span class="unread-icon">
          <i class="fa fa-file-o"></i>
        </span>
      </span>
      <span class="atom-meta-extra">
        <span class="atom-replies">
          <span class="atom-replies-count">
            <%= post.replycount %>
             Replies.
          </span>
          <span class="atom-username">
            <%= post.lastreply && post.lastreply.user.name %>
          </span>
          <span class="atom-meta-extra-time">
            <i class="fa fa-clock-o"></i>
            <span
               class="distance"
               data-timestamp="<%= post.lastreply.created_at.toString()%>"
            >
              <%= moment(post.lastreply.created_at).fromNow() %>
            </span>
          </span>
      </span>
    </a>
  </div>
  <div class="atom-actions">
    <a
       class="atom-actions-action atom-actions-action--reply"
       href=<%="/topic/" + post.id + "#reply" %>
    >
      reply &nbsp;
      <div class="fa fa-reply fa-flip-vertical fa-md"></div>
    </a>
  </div>
</div>
