.atom(data-id=post.id)
  .atom-meta.clearfix
    a.atom-meta-main.atom-meta-title(href='/topic/' + post.id)
      span.atom-meta-main-inner
        =post.title
        span.unread-icon
          i.fa.fa-file-o
      span.atom-meta-extra
        span.atom-replies
          span.atom-replies-count= post.replycount
          |  Replies.
        span.atom-username=post.lastreply && post.lastreply.user.name
        span.atom-meta-extra-time
          i.fa.fa-clock-o
          span.distance(data-timestamp=post.lastreply.created_at.toString())= moment(post.lastreply.created_at).fromNow()
  .atom-actions
    a.atom-actions-action.atom-actions-action--reply(href='/topic/' + post.id + '#reply')
      | reply &nbsp;
      .fa.fa-reply.fa-flip-vertical.fa-md
