@import "normalize";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2.25em;
  padding: 1em;

  @media (min-width: 1000px) {
    font-size: 1em;
  }
}

@import "layout";
@import "logo";
@import "post";
