.content {
  padding: 1em;
  word-wrap: break-word;

  p:not(:last-child) {
    margin-bottom: 1.2em
  }

  a {
    font-weight: bold;
    color: #010101;
    text-decoration: underline;

    &:visited {
      color: #7C7C7C;
      text-decoration: none;
    }
  }
  blockquote {
    margin: 1em;
    padding: 1em;
    background-color: hsla(31, 15%, 50%, 0.1);
    box-shadow: 0px 0px 3px hsl(0, 0%, 0%) inset;
  }
  iframe {
    width: 100%;
  }
  img {
    max-width: 100%;
  }
  ul,
  ol {
    margin: 1em;
  }
}

