@import "variables";

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:focus:not(input):not(textarea) {
  outline: none;
  text-shadow: 0 2px transparent;
  animation-name: pulse;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    text-shadow: 0 2px transparent;
  }

  50% {
    text-shadow: 0 2px @highlight;
  }

  75% {
    text-shadow: 0 2px @highlight;
  }
}
