@import "variables";

.main {
  margin: 0 auto;
}

.breadcrumb a {
  color: inherit;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .main,
  .new,
  .new .input {
    max-width: 768px;
  }
}

.loadall button {
  margin: 1em 0 0;
  padding: 0.5em;
  width: 100%;

  body.topics & {
    margin: 1em 0 2.5em;
  }
}

.topic.unread {
  .meta {
    border: 0 solid @highlight;
    border-left-width: 0.2em;
  }
}
.meta .unread {
  margin: 0 0.5em;
  visibility: hidden;
  color: @highlight;
}
.unread .unread {
  visibility: visible;
}

.layout-meta {
  margin-top: 0.5em;

  text-align: left;

  @media (min-width: 48em) {
    text-align: right;
  }
}

.read-all {
  display: inline-block;
  cursor: pointer;
}
