@import "variables";

.main {
  margin: 0 auto;
}

.titlebar a {
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .main,
  .new,
  .new .input {
    max-width: 768px;
  }
}

.loadall button {
  margin: 1em 0 0;
  padding: 0.5em;
  width: 100%;

  body.topics & {
    margin: 1em 0 2.5em;
  }
}

.meta .unread {
  position: relative;
  top: 2px;
  margin: 0 0.5em;
  opacity: 0;
  color: @highlight;
}
.unread .unread {
  opacity: 1;
}

.layout-meta {
  margin-top: 0.5em;
  text-align: left;
}

.read-all {
  display: inline-block;
  cursor: pointer;
}
