@import "variables";

.logo {
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}

.logo-inner,
.logo-prefix,
.logo-main {
  display: inline-block;
}

.logo-inner,
.logo-main {
  border: solid @black;
}

.logo-inner {
  padding: 0.9375em;
  border-width: 4px;
}

.logo-main {
  margin-left: 1.5em;
  padding: 0.3125em;
  border-width: 5px;
}
