@import "variables";

.post {
  border: 3px solid @black;
  margin: 0.5em auto 1em;

  img {
    max-width: 100%;
  }
}

.meta,
.content {
}

.meta {
  padding: 0.5em 1em;
  border-bottom: 1px solid @black;

  * {
    display: inline-block;

    &:not(:first-child) {
      margin: 0 0.5em;
    }
  }
}

.content {
  padding: 1em;
}

@media (min-width: 640px) {
  .posts .main {
    max-width: 560px;
  }
}
