// -- mixins:
.ellipsify {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// -- end mixins
.post {
  width: 100%;
  .meta {
    @height: 40px;

    height: @height;
    color: #fff;
    background: #ff99ac;
    border-radius: 3px;

    .datum {
      padding: 0 10px;
      float: left;
      height: 100%;
      line-height: @height;

      &.username {
        width: 25%;
      }
      &.time {
        position: relative;
        width: 140px;
        i {
          padding-right: 4px;
        }
        &:after {
          border-bottom: 1px dotted #fff;
        }
      }

      &:first-child {
        background: #00ce11;
      }
      &:nth-child(2){
        background: #11c0cf;
      }
    }

    .username,
    .time {
      .ellipsify();
    }
  }
}
