// -- mixins:
.ellipsify {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// -- end mixins
.post {
  width: 100%;
  .meta {
    @height: 40px;

    height: @height;
    color: #fff;
    background: #ff99ac;
    border-radius: 3px;

    .datum {
      padding: 0 10px;
      float: left;
      height: 100%;
      line-height: @height;

      &:first-child {
        background: #00ce11;
      }
      &:nth-child(2){
        background: #11c0cf;
      }
    }

    .username,
    .time {
      width: 25%;

      .ellipsify();
    }

    .username {}
    .time {
      position: relative;
      i {
        padding-right: 4px;
      }
      &:after {
        border-bottom: 1px dotted #fff;
      }
    }
  }
}
