* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 1em;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.loader {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 200ms;
  background-color: skyblue;
  text-align: center;
  color: white;
  opacity: 0;
  font-size: 2rem;
  z-index: -1;
}
.body.is-loading .loader {
  z-index: 1;
  opacity: 1;
}

.loader-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.inputGroup {
  display: flex;
}

.input {
  display: block;
  width: 100%;
  font-family: inherit;
  margin: 1em 0;
  background: transparent;
  border: 1px solid currentColor;
  padding: 1em;
}

.preify {
  font-family: monospace;
  outline: 1px solid orange;
  margin: 1em 0;
  padding: 0.5em;
  word-wrap: break-word;
}
