@current-grey: #000;

.topic {
  border-color: @current-grey;


  .title {
    display: inline-block;
    font-weight: bold;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
  }

  .actions {
    margin: 0;
    border: none;
  }

  .time {
    display: none;

    @media (min-width: 35em) {
      display: inline-block;
    }
  }
}

.topic .meta {
  width: 100%;
  max-height: 40px;
  border: 0 solid @highlight;
  transition: border-width 0.2s;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: 48em) {
    max-height: none;
  }

  .title a {
    width: 100%;
  }

  a {
    white-space: inherit;
    text-overflow: inherit;
    overflow: inherit;
    color: inherit;

    &:not(.time) {
      * {
        text-decoration: inherit;
      }
    }

    &.time {
      display: none;
      width: auto;

      @media (min-width: 48em) {
        display: inline-block;
      }

      &:hover {
        color: @highlight;
      }
    }
  }
}

.topic .meta .extra {
  margin: 0;
  display: inline-block;
  width: 50%;
  text-align: right;
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;

  @media (min-width: 48em) {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
  }


  *:last-child {
    margin-right: 0;
  }
}

.topic .meta .extra .username {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
}

.topic.unread {
  .meta {
    border-left-width: 0.2em;
  }
}

.topics {
  .action.new {
    font-weight: bold;
    color: inherit;
  }
  form.hidden {
    display: none;
  }
}
