@current-grey: #000;

.topic {
  border-color: @current-grey;

  .meta {
    width: 100%;
    border-color: @current-grey;
  }

  .title {
    display: inline-block;
    font-weight: bold;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
  }

  .meta .extra {
    margin: 0;
    display: inline-block;
    width: 50%;
    text-align: right;
  }

  .actions {
    margin: 0;
    border: none;
  }

  .time {
    display: none;

    @media (min-width: 35em) {
      display: inline-block;
    }
  }
}
