<script src="/javascripts/marked.js"></script>
<script>
  var markedRenderer = new marked.Renderer();
  markedRenderer.link = function(href, title, text) {
    return '<a target="_blank"' +
        'href="' + href + '"' +
        (title ? 'title="' + title + '"' : '') +
      '>' + text + "</a>";
  };

  var lexer = new marked.Lexer();
  lexer.rules.heading = { exec: function() {} };

  marked.lexer = lexer;

  marked.setOptions({
    emoji: function (emoji) {
      return '<img src="'
          + 'http://cloud.ahfr.org/images/emoji/'
          + encodeURIComponent(emoji)
          + '.png"'
          + ' alt=":'
          + escape(emoji)
          + ':"'
          + ' title=":'
          + escape(emoji)
          + ':"'
          + ' class="emoji" align="absmiddle" height="20" width="20">';

    },
    breaks: true,
    renderer: markedRenderer
  });
</script>

<script src="/javascripts/moment.js"></script>
<script src="/javascripts/underscore.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>
  var tickIntervalID = 0;
  var lastVisitedPromise = $.ajax({
    url: '/lastVisited',
    dataType: 'json',
    success: function(data) {
      forum.constants.lastVisited = data
    }
  });

  function tickPosts() {
    $('.distance[data-timestamp]').each(function() {
      $(this).text(moment(this.dataset.timestamp).fromNow());
    });

    clearInterval(tickIntervalID);
    tickIntervalID = setInterval(tickPosts, 1000 * 60);
  }

  tickPosts();


  document.addEventListener('focusin', function(event) {
    if (event.target.tagName.toLowerCase() === 'input' || event.target.tagName.toLowerCase() === 'textarea') {
      document.getElementsByTagName('body')[0].classList.add('killfixed');
    }
  });

  document.addEventListener('focusout', function() {
    document.getElementsByTagName('body')[0].classList.remove('killfixed');
  });
</script>

<script src="/javascripts/velocity.min.js"></script>
<script src="/javascripts/velocity.ui.min.js"></script>
<script src="/javascripts/animations.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script>
  var socket = io.connect(forum.constants.socketAddress, {
    query: {
      user: JSON.stringify(forum.constants.user)
    }
  });
</script>

<script src="/javascripts/jade-runtime.js"></script>
<script src="/javascripts/oembed.js"></script>
<script src="/javascripts/favico.js"></script>
<script>
  var favicon = new Favico({
    animation: 'none',
    bgColor: '#22BEF7',
    color: '#fff'
  });

  socket.on('updateuserlist', function(userlist) {
    $('.activity-users').empty();
    _.forEach(userlist, function(user) {
      $('.activity-users').append($('<div class="activity-users-user" />').text(user.name));
    });
  });
</script>

<script src="/javascripts/emoji.js"></script>
<script src="/javascripts/emojimap.js"></script>
<script src="/templates/post/topic.js"></script>
<script>
  forum.replyCount = 0;

  var checkUnread = function() {
    var $topics = $('.atom');

    $topics.each(function(index, element) {
      var $topic = $(this);
      var topicTimestamp = parseInt(+new Date($topic.find('[data-timestamp]')[0].dataset.timestamp), 10);
      var lastVisitedTimestamp = parseInt(forum.constants.lastVisited[this.getAttribute('data-id')] || 0, 10);

      if (topicTimestamp > lastVisitedTimestamp) {
        $topic.addClass('is-unread');
      } else {
        $topic.removeClass('is-unread');
      }
    });
  }

  lastVisitedPromise.then(function() {
    checkUnread();
  });

  var updateThreadMetadata = function(response){
    var $topicNode = $('.atom').filter('[data-id=' + response.parent + ']');

    $topicNode.find('.atom-replies-count').text(parseInt($topicNode.find('.atom-replies-count').text()) + 1);

    $topicNode.find('.distance').text(moment(response.created_at).fromNow())

    $topicNode.find('.atom-username').text(response.user.name);

    if ($topicNode.find('[data-timestamp]')[0]) {
      $topicNode.find('[data-timestamp]')[0].dataset.timestamp = response.created_at;
    }

    checkUnread();
  }

  socket.on('post', function(response){
    if (forum.focus === false) {
      forum.replyCount++;
      favicon.badge(forum.replyCount);
    }

    if (typeof response.parent !== "undefined") {
      return updateThreadMetadata(response);
    }

    var locals = {};
    locals.post = response;
    locals.moment = moment;
    locals.marked = marked;
    locals.user = forum.constants.user;
    locals.post.lastreply = {};
    locals.post.lastreply.user = forum.constants.user;
    locals.post.lastreply.created_at = new Date();
    locals.post.replycount = 0;
    locals.post.children = [];
    locals.getPostDate = function(post){ return post.created_at; };

    $(anonymous(locals)).appendTo('.root .topics');

    embedTwitter($('.atom:last a'));
    embedInstagram($('.atom:last a'));
    embedYouTube($('.atom:last a'));
    embedSoundCloud($('.atom:last a'));
    embedVine($('.atom:last a'));

    $('.atom .distance').text(function(){
      var postTime = moment(this.dataset.timestamp);
      if (postTime.isSame(moment(), 'day') && postTime.fromNow() !== $(this).text()) {
        return postTime.fromNow();
      }
    });

    checkUnread();
  });


  $('[href="#newtopic-content"]').on('click', function(event){
    event.preventDefault();
    $('form.new').removeClass('is-hidden');
    $('#newtopic-title input').trigger('focus');
  });

  $('form.new').on('submit', function(event){
    if ($.trim($(this).find('.input-title').val()).length < 1) {
      return false;
    }
    socket.emit('post', {
      title: $(this).find('.input-title').val(),
      body: emoji.replace_unified($(this).find('.input-body').val()),
      user: {
        id: forum.constants.user.id,
        name: forum.constants.user.name
      }
    }, function(){
      $('form.new, .action.new').remove();
    });

    event.preventDefault();
  });

  $('#markallread').on('click', function(event) {
    event.preventDefault();

    socket.emit('markallread', {
      user: {
        id: forum.constants.user.id,
        name: forum.constants.user.name
      }
    });

    $('.atom').removeClass('is-unread');
  });

  $(window).focus(function(){
    forum.focus = true;
    forum.replyCount = 0;
    favicon.reset();
  });

  $(window).blur(function(){
    forum.focus = false;
  });
</script>

<script src="/javascripts/horsey.js"></script>
<script>
  window.emojiSuggestions = window.emojimap.keys;

  function textNormalizer(text) {
    return ':' + text + ':'
  }

  function emojiRenderer(li, suggestion) {
     li.innerHTML = '<img src='
          + 'http://cloud.ahfr.org/images/emoji/'
          + suggestion
          + '.png'
          + ' alt=":'
          + escape(suggestion)
          + ':"'
          + ' title=":'
          + escape(suggestion)
          + ':"'
          + ' class="emoji" align="absmiddle" height="20" width="20">'
          + '&nbsp;'
          + textNormalizer(suggestion);

  }

  $(function(){
    window.horseyTextInputInstance = horsey(document.querySelector('.new .input-text'), {
      anchor: ':',
      getText: textNormalizer,
      getValue: textNormalizer,
      render: emojiRenderer,
      suggestions: window.emojiSuggestions
    });

    window.horseyTextAreaInstance = horsey(document.querySelector('.new .input-textarea'), {
      anchor: ':',
      getText: textNormalizer,
      getValue: textNormalizer,
      render: emojiRenderer,
      suggestions: window.emojiSuggestions
    });
  });
</script>

<% if (user && user.id !== 0) { %>
  <%- include('activity.ejs.html') %>
<% } %>
