<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Forum
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />

    <script>
      var forum = {};
      forum.constants = <%- clientConstants %>;
      forum.constants.user = <%- JSON.stringify(user) %>;

      <%- constants %>
    </script>
    <link
      rel="stylesheet"
      href="/stylesheets/base.css"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700,400"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />

    <link
      rel="icon"
      href="/favicon.png"
    />

    <!-- block head -->
    <% if (user && user.id !== 0) { %>
      <%- user.custom_code %>
    <% } %>
  </head>
  <body class="root <%=bodyClass%>" >
