extends application

block vars
  - var bodyClass="index posts"

block main
  if (user && user.id !== 0)
    h2 main
    .posts
      each post in posts
        include posts/post
  else
    h1.logo
      span.logo-prefix
       | The
      span.logo-main
       | Forum

block script
  if (user && user.id !== 0)
    script.
      var socket = io.connect(forum.constants.socketAddress);
    include posts/new
