extends application

block vars
  - var bodyClass="index posts"

block main
  include login.jade

block script
  script.
    $('.logo-inner').on('click', function(event){
      $(this).closest('.logo').toggleClass('rotate');
    });
