extends application

block vars
  - var bodyClass="index posts"

block main
  if (user && user.id === 0)
    include login.jade

  else

    if (!posts)
      | No threads. Why not contribute to the forum?

    else
      each post in posts
        include posts/topic

block script
  //- index-specific <script> tag(s) go here:
