<% var bodyClass = "index posts topics" %>

<%- include('header.ejs.html', { bodyClass: bodyClass, constants: '' }) %>
<%- include('titlebar.ejs.html', { bodyClass: bodyClass}) %>

<% if (user && user.id === 0) { %>
  <%- include('login.ejs.html') %>
<% } else { %>
  <% if (typeof posts === "undefined" || posts.length === 0) { %>
    No threads. Why not contribute to the forum?
  <% } else { %>
    <div class="topics">
      <% posts.forEach(function(post) { %>
        <%- include posts/topic.ejs.html %>
      <% }); %>
    </div>
    <form class="new is-hidden">
      <div class="input" id="newtopic-title">
        <input
          class="input-input input-text input-title"
          placeholder="title"
        />
      </div>
      <div class="input textarea" id="newtopic-content">
        <textarea class="input-input input-textarea input-body" placeholder="Body"></textarea>
      </div>
      <button class="input-submit" type="submit">
        Submit
      </button>
    </form>
  <% } %>
<% } %>
<%- include('footer.ejs.html') %>
<%- include('endbody.ejs.html') %>
