extends application
block main
  h2 login
  form(action="/login", method="POST")
    input(type="text" placeholder="email" name="email")
    input(type="password" placeholder="password" name="password")
    input(type="submit")

  br
