extends application

block main
  h1.logo
    span.logo-inner
      span.logo-prefix
       | The
      span.logo-main
       | Forum
      div.login-context
       | Click
    form(action="/login", method="POST").logo-backface
      input(type="text" placeholder="email" name="email")
      input(type="password" placeholder="password" name="password")
      input(type="submit")

block script
  script.
    $('.logo-inner').on('click', function(event){
      $(this).closest('.logo').toggleClass('rotate');
    });
  script.
    $('.logo-inner span').velocity(
      'forum.slideFromLeft', {
        stagger: 1000,
        complete: function() {
          $('.logo-inner .login-context').velocity('forum.fadeIn');
        }
      }
    );
