<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Forum
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
  </head>
  <body class="root">
    <div id="app">
      You must enable JavaScript to use this app.
      What are you thinking having JS disabled?
    </div>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
