extends application

block vars
  - var bodyClass="settings"
  - var topic = {title: 'Settings'}

block main
  .profile
    form.edit.hidden(action="/settings", method="POST")
      label Signature:
      .input.textarea
        textarea.input-input.input-textarea(name="signature")=user.signature
      | Hide Connected Status: &nbsp;

      label
        input(type="radio" name="hide_connected" checked=user.hide_connected value="true")
        | &nbsp; True &nbsp;
      label
        input(type="radio" name="hide_connected" checked=!user.hide_connected value="false")
        | &nbsp; False &nbsp;

      br
      br

      label Custom Code:
      .input.textarea
        textarea.input-input.input-textarea(name="custom_code")=user.custom_code

      .input
        button(class="input-submit" type="submit")
          | Submit
