if (user && user.id !== 0)
  .app-titlebar
    .app-titlebar-inner
      h2.app-titlebar-title
        a.app-titlebar-rootlink(href='/')
          | The Forum
          if (bodyClass.match('topics') === null)
            | :

        if (bodyClass.match('topics') === null)
          .app-titlebar-topictitle
            &nbsp;
            = topic.title

      .app-titlebar-controls
        if (bodyClass.match('settings') === null)
          .app-titlebar-controls-control.app-titlebar-controls-control--settings
            a.app-titlebar-controls-action.app-titlebar-controls-action--settings(href='/settings')
              | Settings
        if (bodyClass.match('topics') === null && bodyClass.match('settings') === null)
          .app-titlebar-controls-control.app-titlebar-controls-control--reply
            a.app-titlebar-controls-action.app-titlebar-controls-action--reply(href='#reply')
              | Reply
        if (bodyClass.match('topics') !== null)
          .app-titlebar-controls-control.app-titlebar-controls-control--markallread
            a.app-titlebar-controls-action.app-titlebar-controls-action--markallread#markallread
              | Mark All Read
